<ion-view view-title="read">
 
     
      <ion-content class="padding">
        <div class="list card">
          <div class="item item-divider">Buscar usuario</div>
            <div class="item item-body">
              <div ng-app="crud" >
                 <label>Buscar pelo Nome:</label>
                     <input type="text" placeholder="Buscar nome">
                     <hr>
                     <div>
                       <button>Buscar</button>
          
                     </div>
             </div>
         </div>
       </div>
    
  </ion-content>
</ion-view>
