<ion-view view-title="Dashboard" >
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Cadastro de Usuario</div>
      <div class="item item-body">
       <div>
      <label>Nome:</label>
      <input type="text" ng-model="nome" placeholder="Insira um nome">
      <hr>
 
      <div>
         <button   ng-click="add()" >Clique aqui para cadastrar</button>
          <a></a>
      </div>
    </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>

